*{
    margin: 0px;
    padding: 0px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}
.cartArea .container{
    height: 100%;
    padding: 1rem;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
}

.cartArea .container .singleProduct{
    position: relative;
    padding: 1rem;
    width: 350px;
    height: 450px;
    box-shadow: -1px 15px 30px -12px rgb(32, 32, 32);
    border-radius: 5px;
    background: #fff;
    color: #222222;
    cursor: pointer;
    margin-bottom: 2rem;
}
#cardList img{
   width: 90%;
   position: absolute;
   height: 90%;
   object-fit: contain;
   
}
#cardList .productDetails{
    width: 97%;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 10px;
    background: #5a2d9e;
    border-radius: 5px;
    margin: 5px; 
    color: white;
}
#cardList .productDetails h5{
    margin-bottom: 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#cardList .productDetails .productPrice{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
#cardList .productDetails .productPrice div{
    display: flex;
    gap: 15px;

}
#cardList .productDetails .productPrice i{
    font-size: 18px;
    color: black;
    background: #fff;
    height: 35px;
    width: 35px;
    line-height: 35px;
    text-align: center;
    border-radius: 50%;
    transition: 0.3s;

}
#cardList .productDetails .productPrice i:hover{
    background: rgb(182, 164, 236) ;

}
#cardList .productDetails .productPrice .price{
    font-weight: bold;
}
.cartListView .productName{
    display: flex;
    align-items: center;
    padding: 10px;
}
.cartListView .productName img{
    width: 50px;

}
.cartListView .productName h5{
    margin-left: 10px;
}

